n8n-email-automation-webhook.json
{
  "name": "Email Automation Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "request-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8cbe68b8-e0a8-4a17-90f7-53d6764d6316",
      "name": "Webhook",
      "webhookId": "1df18de3-02af-423a-bec7-e3da9bdc4e80"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dd4d4e2-cc4c-437c-963a-e5ded7c3f184",
              "name": "requester_name",
              "value": "={{ $json.body.requester_name }}",
              "type": "string"
            },
            {
              "id": "9daa6fce-6144-43d3-b9e5-092e770aec74",
              "name": "requester_email",
              "value": "={{ $json.body.request_email }}",
              "type": "string"
            },
            {
              "id": "a27b96ac-aa4e-497f-b860-f430d9088fb1",
              "name": "request_subject",
              "value": "={{ $json.body.request_subject }}",
              "type": "string"
            },
            {
              "id": "b25c6886-5002-4356-9880-e65326a29838",
              "name": "request_message",
              "value": "={{ $json.body.request_message }}",
              "type": "string"
            },
            {
              "id": "76cb447e-7b2a-4545-8895-a2e675b737e4",
              "name": "priority",
              "value": "={{ $json.body.priority }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "090426f6-3333-4012-831c-7f2804ff2c26",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c779eea6-1296-4cbb-985a-2cc20217c069",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "=high",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "9b142148-2fe3-4dce-aa3a-4668af8e0275",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"priority\":\"high\",\n  \"message\": \"Email sent successfully\",\n  \"timestamp\": \"{{ $now }}\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        864,
        0
      ],
      "id": "99efd44d-8c14-4f69-b7e5-14ccddebbcdf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "fromEmail": "germanronelportfolio@gmail.com",
        "toEmail": "={{ $json.requester_email }}",
        "subject": "={{$json.priority === \"high\" ? \"[URGENT] \" + $json.request_subject : $json.request_subject}}\n",
        "html": "=Requester: {{$json.requester_name}}\nEmail: {{$json.requester_email}}\n\nMessage:\n{{$json.request_message}}\n\nPriority: {{$json.priority}}\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        640,
        0
      ],
      "id": "f40662ad-dd1d-4ac4-b14f-cbb6aa98e943",
      "name": "Send email",
      "webhookId": "313d0a4b-d82f-4e24-ad43-86d62561b15a",
      "credentials": {
        "smtp": {
          "id": "qGR0E3NU6EEkoqmB",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"deployment_version\": {{ $now }},\n  \"deployed_by\": \"GitHub Actions\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        0
      ],
      "id": "eedd0d11-7088-4f80-9685-c45ffcf39d0f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        720,
        272
      ],
      "id": "7edb35f5-c74f-48f1-bda3-2404d91e838c",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7c3ca99f-5684-4ae1-90d7-d1572d5300a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd06244ff93f62ae497754b845ef71b84b0bfba06557bab86f75d4ca48e6b957"
  },
  "id": "hWtORPf8cwmw5cbraadJV",
  "tags": []
}